.home-container {
  width: 100%;
  display: flex;
  padding: 0px;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home-container01 {
  width: 280px;
  height: 1645px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #b173a3;
}
.home-text {
  height: 111px;
  align-self: stretch;
  text-align: center;
  background-color: rgb(177, 103, 160);
}
.home-text01 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  line-height: 4;
  letter-spacing: 2px;
}
.home-text02 {
  color: var(--dl-color-theme-neutral-dark);
  line-height: 4;
  letter-spacing: 2px;
}
.home-text03 {
  line-height: 2;
}
.home-container02 {
  width: 100%;
  height: 121px;
  display: flex;
  align-items: flex-start;
}
.home-button {
  color: rgb(255, 255, 255);
  width: 283px;
  height: 46px;
  text-align: left;
  border-width: 0px;
  padding-left: 35px;
  padding-right: 201px;
  text-decoration: none;
  background-color: transparent;
}
.home-navlink {
  text-decoration: none;
}
.home-button1 {
  color: rgb(255, 255, 255);
  width: 283px;
  height: 46px;
  text-align: left;
  border-width: 0px;
  padding-left: 36px;
  padding-right: 203px;
  text-decoration: none;
  background-color: transparent;
}
.home-navlink1 {
  text-decoration: none;
}
.home-text08 {
  top: 124px;
  left: -18px;
  width: 208px;
  height: 84px;
  position: absolute;
  align-self: flex-start;
  text-align: center;
}
.home-text09 {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 4;
  letter-spacing: 1px;
}
.home-text10 {
  color: var(--dl-color-theme-neutral-dark);
  font-style: normal;
  font-weight: 400;
  line-height: 4;
  letter-spacing: 1px;
}
.home-text11 {
  line-height: 2;
}
.home-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 243px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text12 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
}
.home-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.home-dropdown-arrow {
  transition: 0.3s;
}
.home-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.home-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #b173a3;
}
.home-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text15 {
  color: #ffffff;
  width: 191px;
  cursor: pointer;
  height: 26px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.home-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text16 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.home-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text17 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.home-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.home-text18 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.home-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.home-button2 {
  color: rgb(255, 255, 255);
  width: 283px;
  height: 45px;
  text-align: left;
  border-width: 0px;
  padding-left: 35px;
  padding-right: 187px;
  text-decoration: none;
  background-color: transparent;
}
.home-navlink6 {
  text-decoration: none;
}
.home-container03 {
  width: 37px;
  height: 996px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: column;
}
.home-container04 {
  width: 1019px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container05 {
  flex: 0 0 auto;
  width: 978px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  width: 916px;
  height: 99px;
  display: flex;
  align-items: flex-start;
}
.home-container08 {
  width: 919px;
  height: 124px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text21 {
  font-family: "Merriweather";
}
.home-text22 {
  color: #484848;
  font-family: "Merriweather";
}
.home-container09 {
  width: 922px;
  height: 191px;
  display: flex;
  align-items: flex-start;
  border-color: #989898;
  border-style: dashed;
  flex-direction: column;
  justify-content: center;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-text23 {
  font-family: "Merriweather";
}
.home-text26 {
  fill: #484848;
  color: rgb(72, 72, 72);
  font-family: "Merriweather";
  line-height: 1.5;
}
.home-container10 {
  width: 916px;
  height: 187px;
  display: flex;
  align-items: flex-start;
  border-color: #989898;
  border-style: dashed;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-text29 {
  font-family: "Merriweather";
}
.home-text30 {
  fill: #484848;
  color: rgb(72, 72, 72);
  font-family: "Merriweather";
  line-height: 1.5;
}
