.verify-container {
  width: 100%;
  display: flex;
  padding: 0px;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.verify-container01 {
  width: 280px;
  height: 1975px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #b173a3;
}
.verify-text {
  height: 111px;
  align-self: stretch;
  text-align: center;
  background-color: rgb(177, 103, 160);
}
.verify-text01 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  line-height: 4;
  letter-spacing: 2px;
}
.verify-text02 {
  color: var(--dl-color-theme-neutral-dark);
  line-height: 4;
  letter-spacing: 2px;
}
.verify-text03 {
  line-height: 2;
}
.verify-container02 {
  width: 100%;
  height: 121px;
  display: flex;
  align-items: flex-start;
}
.verify-text04 {
  top: 124px;
  left: -18px;
  width: 208px;
  height: 84px;
  position: absolute;
  align-self: flex-start;
  text-align: center;
}
.verify-text05 {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 4;
  letter-spacing: 1px;
}
.verify-text06 {
  color: var(--dl-color-theme-neutral-dark);
  font-style: normal;
  font-weight: 400;
  line-height: 4;
  letter-spacing: 1px;
}
.verify-text07 {
  line-height: 2;
}
.verify-button {
  color: rgb(255, 255, 255);
  width: 283px;
  height: 46px;
  text-align: left;
  border-width: 0px;
  padding-left: 35px;
  padding-right: 201px;
  text-decoration: none;
  background-color: transparent;
}
.verify-navlink {
  text-decoration: none;
}
.verify-button1 {
  color: rgb(255, 255, 255);
  width: 283px;
  height: 46px;
  text-align: left;
  border-width: 0px;
  padding-left: 36px;
  padding-right: 203px;
  text-decoration: none;
  background-color: transparent;
}
.verify-navlink1 {
  text-decoration: none;
}
.verify-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.verify-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 243px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.verify-text12 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 4px;
  vertical-align: middle;
}
.verify-icon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.verify-dropdown-arrow {
  transition: 0.3s;
}
.verify-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
.verify-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.verify-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: #b173a3;
}
.verify-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.verify-text15 {
  color: #ffffff;
  width: 191px;
  cursor: pointer;
  height: 26px;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.verify-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.verify-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.verify-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.verify-text16 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.verify-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.verify-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.verify-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.verify-text17 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.verify-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.verify-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.verify-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.verify-text18 {
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.verify-dropdown4 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.verify-button2 {
  color: rgb(255, 255, 255);
  width: 283px;
  height: 45px;
  text-align: left;
  border-width: 0px;
  padding-left: 35px;
  padding-right: 187px;
  text-decoration: none;
  background-color: transparent;
}
.verify-navlink6 {
  text-decoration: none;
}
.verify-container03 {
  flex: 0 0 auto;
  width: 37px;
  height: 994px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
}
.verify-container04 {
  width: 1060px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.verify-container05 {
  flex: 0 0 auto;
  width: 938px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.verify-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.verify-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.verify-container08 {
  flex: 0 0 auto;
  width: 917px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.verify-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.verify-container10 {
  flex: 0 0 auto;
  width: 925px;
  height: 156px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
}
.verify-container11 {
  flex: 0 0 auto;
  width: 893px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: dashed;
  border-width: 0px;
  flex-direction: column;
  justify-content: center;
}
.verify-text21 {
  font-family: "Merriweather";
}
.verify-text24 {
  fill: rgb(72, 72, 72);
  color: rgb(72, 72, 72);
  font-family: "Merriweather";
  line-height: 1.5;
}
.verify-container12 {
  flex: 0 0 auto;
  width: 926px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: #989898;
  border-style: dashed;
  border-width: 2px;
  justify-content: flex-start;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.verify-text25 {
  color: rgb(72, 72, 72);
  font-family: "Merriweather";
}
.verify-image {
  width: 712px;
  height: 578px;
  object-fit: cover;
}
.verify-text30 {
  fill: rgb(72, 72, 72);
  color: rgb(72, 72, 72);
  font-family: "Merriweather";
}
.verify-image1 {
  width: 283px;
  height: 343px;
  object-fit: cover;
}
.verify-text38 {
  font-family: "Merriweather";
}
